useDynLib(npiv, .registration = TRUE)
import(stats,progress,MASS)
export(npiv,
       npivJ,
       npiv_Jhat_max,
       npiv_choose_J,
       gsl.bs,
       npiv.ucb)
S3method(fitted, npiv)       
S3method(residuals, npiv)
S3method(gsl.bs, default)
S3method(predict, gsl.bs)
