useDynLib(npiv, .registration = TRUE)
import(stats,progress,MASS,Formula)
importFrom("graphics", "legend", "lines", "points")
export(npiv,
       npiv_choose_J,
       gsl.bs)

S3method(npiv, formula)
S3method(npiv, default)
S3method(predict, npiv)

S3method(fitted, npiv)       
S3method(residuals, npiv)
S3method(print, npiv)       
S3method(summary, npiv)

S3method(gsl.bs, default)
S3method(predict, gsl.bs)

S3method(plot, npiv)

S3method(prod, spline)
